@import url(https://fonts.googleapis.com/css?family=Exo+2:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i);
@import url(https://fonts.googleapis.com/css?family=Encode+Sans+Semi+Expanded:100,200,300,400,500,600,700,800,900);



body,
input,
textarea,
.mbr-section-text,
.mbr-company .list-group-text,
.panel-body {
  font-family: 'Encode Sans Semi Expanded', sans-serif;
}
.mbr-footer-content li,
.mbr-footer .mbr-contacts li {
  font-family: 'Encode Sans Semi Expanded', sans-serif;
}
.alert,
.mbr-section-title,
.mbr-figure .mbr-figure-caption,
.mbr-gallery-title,
.mbr-map [data-state-details],
.mbr-price {
  font-family: 'Exo 2', sans-serif;
}
.mbr-footer-content h1,
.mbr-footer .mbr-contacts h1,
.mbr-footer-content h2,
.mbr-footer .mbr-contacts h2,
.mbr-footer-content h3,
.mbr-footer .mbr-contacts h3,
.mbr-footer-content h4,
.mbr-footer .mbr-contacts h4,
.mbr-footer-content p strong,
.mbr-footer .mbr-contacts p strong,
.mbr-footer-content strong,
.mbr-footer .mbr-contacts strong {
  font-family: 'Exo 2', sans-serif;
}
.btn {
  border-radius: 2.6em;
}
.mbr-gallery-filter ul li {
  border-radius: 2.6em;
}
.btn-sm,
.mbr-section-subtitle,
.mbr-cards .card-subtitle,
.nav-tabs .nav-link,
.mbr-testimonial .card-block,
.table th {
  font-family: 'Encode Sans Semi Expanded', sans-serif;
  font-style: normal;
}
.mbr-author-name {
  font-family: 'Exo 2', sans-serif;
}
.mbr-author-desc {
  font-family: 'Encode Sans Semi Expanded', sans-serif;
  font-style: normal;
}
.mbr-plan-title {
  font-family: 'Exo 2', sans-serif;
}
.mbr-plan-subtitle,
.mbr-plan-price-desc {
  font-family: 'Encode Sans Semi Expanded', sans-serif;
  font-style: normal;
}
.bg-primary {
  background-color: #0fe8b4 !important;
}
.bg-success {
  background-color: #00fecb !important;
}
.bg-info {
  background-color: #3498db !important;
}
.bg-warning {
  background-color: #f1c40f !important;
}
.bg-danger {
  background-color: #e74c3c !important;
}
.btn-primary {
  background-color: #0fe8b4;
  border-color: #0fe8b4;
  color: #ffffff;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary.focus,
.btn-primary:active,
.btn-primary.active {
  color: #ffffff;
  background-color: #38f2c5;
  border-color: #38f2c5;
}
.btn-primary.disabled,
.btn-primary:disabled {
  color: #ffffff !important;
  background-color: #38f2c5 !important;
  border-color: #38f2c5 !important;
}
.btn-secondary {
  background-color: #002146;
  border-color: #002146;
  color: #ffffff;
}
.btn-secondary:hover,
.btn-secondary:focus,
.btn-secondary.focus,
.btn-secondary:active,
.btn-secondary.active {
  color: #ffffff;
  background-color: #003979;
  border-color: #003979;
}
.btn-secondary.disabled,
.btn-secondary:disabled {
  color: #ffffff !important;
  background-color: #003979 !important;
  border-color: #003979 !important;
}
.btn-info {
  background-color: #3498db;
  border-color: #3498db;
  color: #ffffff;
}
.btn-info:hover,
.btn-info:focus,
.btn-info.focus,
.btn-info:active,
.btn-info.active {
  color: #ffffff;
  background-color: #5faee3;
  border-color: #5faee3;
}
.btn-info.disabled,
.btn-info:disabled {
  color: #ffffff !important;
  background-color: #5faee3 !important;
  border-color: #5faee3 !important;
}
.btn-success {
  background-color: #00fecb;
  border-color: #00fecb;
  color: #ffffff;
}
.btn-success:hover,
.btn-success:focus,
.btn-success.focus,
.btn-success:active,
.btn-success.active {
  color: #ffffff;
  background-color: #32ffd6;
  border-color: #32ffd6;
}
.btn-success.disabled,
.btn-success:disabled {
  color: #ffffff !important;
  background-color: #32ffd6 !important;
  border-color: #32ffd6 !important;
}
.btn-warning {
  background-color: #f1c40f;
  border-color: #f1c40f;
  color: #ffffff;
}
.btn-warning:hover,
.btn-warning:focus,
.btn-warning.focus,
.btn-warning:active,
.btn-warning.active {
  color: #ffffff;
  background-color: #f4d03f;
  border-color: #f4d03f;
}
.btn-warning.disabled,
.btn-warning:disabled {
  color: #ffffff !important;
  background-color: #f4d03f !important;
  border-color: #f4d03f !important;
}
.btn-danger {
  background-color: #e74c3c;
  border-color: #e74c3c;
  color: #ffffff;
}
.btn-danger:hover,
.btn-danger:focus,
.btn-danger.focus,
.btn-danger:active,
.btn-danger.active {
  color: #ffffff;
  background-color: #ed7669;
  border-color: #ed7669;
}
.btn-danger.disabled,
.btn-danger:disabled {
  color: #ffffff !important;
  background-color: #ed7669 !important;
  border-color: #ed7669 !important;
}
.btn-primary-outline {
  background: none;
  border-color: #0edead;
  color: #0edead;
}
.btn-primary-outline:hover,
.btn-primary-outline:focus,
.btn-primary-outline.focus,
.btn-primary-outline:active,
.btn-primary-outline.active {
  color: #fff;
  background-color: #0fe8b4;
  border-color: #0fe8b4;
}
.btn-primary-outline.disabled,
.btn-primary-outline:disabled {
  color: #000000 !important;
  background-color: #0fe8b4 !important;
  border-color: #0fe8b4 !important;
}
.btn-secondary-outline {
  background: none;
  border-color: #001c3c;
  color: #001c3c;
}
.btn-secondary-outline:hover,
.btn-secondary-outline:focus,
.btn-secondary-outline.focus,
.btn-secondary-outline:active,
.btn-secondary-outline.active {
  color: #fff;
  background-color: #002146;
  border-color: #002146;
}
.btn-secondary-outline.disabled,
.btn-secondary-outline:disabled {
  color: #000000 !important;
  background-color: #002146 !important;
  border-color: #002146 !important;
}
.btn-info-outline {
  background: none;
  border-color: #2b94d9;
  color: #2b94d9;
}
.btn-info-outline:hover,
.btn-info-outline:focus,
.btn-info-outline.focus,
.btn-info-outline:active,
.btn-info-outline.active {
  color: #fff;
  background-color: #3498db;
  border-color: #3498db;
}
.btn-info-outline.disabled,
.btn-info-outline:disabled {
  color: #000000 !important;
  background-color: #3498db !important;
  border-color: #3498db !important;
}
.btn-success-outline {
  background: none;
  border-color: #00f4c3;
  color: #00f4c3;
}
.btn-success-outline:hover,
.btn-success-outline:focus,
.btn-success-outline.focus,
.btn-success-outline:active,
.btn-success-outline.active {
  color: #fff;
  background-color: #00fecb;
  border-color: #00fecb;
}
.btn-success-outline.disabled,
.btn-success-outline:disabled {
  color: #000000 !important;
  background-color: #00fecb !important;
  border-color: #00fecb !important;
}
.btn-warning-outline {
  background: none;
  border-color: #e8bd0e;
  color: #e8bd0e;
}
.btn-warning-outline:hover,
.btn-warning-outline:focus,
.btn-warning-outline.focus,
.btn-warning-outline:active,
.btn-warning-outline.active {
  color: #fff;
  background-color: #f1c40f;
  border-color: #f1c40f;
}
.btn-warning-outline.disabled,
.btn-warning-outline:disabled {
  color: #000000 !important;
  background-color: #f1c40f !important;
  border-color: #f1c40f !important;
}
.btn-danger-outline {
  background: none;
  border-color: #e64433;
  color: #e64433;
}
.btn-danger-outline:hover,
.btn-danger-outline:focus,
.btn-danger-outline.focus,
.btn-danger-outline:active,
.btn-danger-outline.active {
  color: #fff;
  background-color: #e74c3c;
  border-color: #e74c3c;
}
.btn-danger-outline.disabled,
.btn-danger-outline:disabled {
  color: #000000 !important;
  background-color: #e74c3c !important;
  border-color: #e74c3c !important;
}
.btn-primary.btn-text {
  color: #0fe8b4;
  background: none;
  border: none;
}
.btn-primary.btn-text:hover,
.btn-primary.btn-text:focus,
.btn-primary.btn-text.focus,
.btn-primary.btn-text:active,
.btn-primary.btn-text.active {
  color: #38f2c5;
  background: none !important;
  border: none !important;
}
.btn-secondary.btn-text {
  color: #002146;
  background: none;
  border: none;
}
.btn-secondary.btn-text:hover,
.btn-secondary.btn-text:focus,
.btn-secondary.btn-text.focus,
.btn-secondary.btn-text:active,
.btn-secondary.btn-text.active {
  color: #003979;
  background: none !important;
  border: none !important;
}
.btn-info.btn-text {
  color: #3498db;
  background: none;
  border: none;
}
.btn-info.btn-text:hover,
.btn-info.btn-text:focus,
.btn-info.btn-text.focus,
.btn-info.btn-text:active,
.btn-info.btn-text.active {
  color: #5faee3;
  background: none !important;
  border: none !important;
}
.btn-success.btn-text {
  color: #00fecb;
  background: none;
  border: none;
}
.btn-success.btn-text:hover,
.btn-success.btn-text:focus,
.btn-success.btn-text.focus,
.btn-success.btn-text:active,
.btn-success.btn-text.active {
  color: #32ffd6;
  background: none !important;
  border: none !important;
}
.btn-warning.btn-text {
  color: #f1c40f;
  background: none;
  border: none;
}
.btn-warning.btn-text:hover,
.btn-warning.btn-text:focus,
.btn-warning.btn-text.focus,
.btn-warning.btn-text:active,
.btn-warning.btn-text.active {
  color: #f4d03f;
  background: none !important;
  border: none !important;
}
.btn-danger.btn-text {
  color: #e74c3c;
  background: none;
  border: none;
}
.btn-danger.btn-text:hover,
.btn-danger.btn-text:focus,
.btn-danger.btn-text.focus,
.btn-danger.btn-text:active,
.btn-danger.btn-text.active {
  color: #ed7669;
  background: none !important;
  border: none !important;
}
.btn-black.btn-text {
  color: #000000;
  background: none;
  border: none;
}
.btn-black.btn-text:hover,
.btn-black.btn-text:focus,
.btn-black.btn-text.focus,
.btn-black.btn-text:active,
.btn-black.btn-text.active {
  color: #1a1a1a;
  background: none !important;
  border: none !important;
}
.btn-white.btn-text {
  color: #ffffff;
  background: none;
  border: none;
}
.btn-white.btn-text:hover,
.btn-white.btn-text:focus,
.btn-white.btn-text.focus,
.btn-white.btn-text:active,
.btn-white.btn-text.active {
  color: #ffffff;
  background: none !important;
  border: none !important;
}
.text-primary {
  color: #0fe8b4 !important;
}
.text-success {
  color: #00fecb !important;
}
.text-info {
  color: #3498db !important;
}
.text-warning {
  color: #f1c40f !important;
}
.text-danger {
  color: #e74c3c !important;
}
.alert-success {
  background-color: #00fecb;
}
.alert-info {
  background-color: #3498db;
}
.alert-warning {
  background-color: #f1c40f;
}
.alert-danger {
  background-color: #e74c3c;
}
.btn-social {
  border-color: #0fe8b4;
}
.btn-social:hover {
  background: #0fe8b4;
}
.mbr-company .list-group-item.active .list-group-text {
  color: #0fe8b4;
}
.mbr-footer p a,
.mbr-footer ul a {
  color: #0fe8b4;
}
.mbr-footer-content li::before,
.mbr-footer .mbr-contacts li::before {
  background: #0fe8b4;
}
.mbr-footer-content li a:hover,
.mbr-footer .mbr-contacts li a:hover {
  color: #0fe8b4;
}
.lead a {
  color: #0fe8b4;
}
.lead a:hover {
  color: #38f2c5;
}
.mbr-plan-header.bg-primary .mbr-plan-subtitle,
.mbr-plan-header.bg-primary .mbr-plan-price-desc {
  color: #c8fbef;
}
.mbr-plan-header.bg-success .mbr-plan-subtitle,
.mbr-plan-header.bg-success .mbr-plan-price-desc {
  color: #cbfff5;
}
.mbr-plan-header.bg-info .mbr-plan-subtitle,
.mbr-plan-header.bg-info .mbr-plan-price-desc {
  color: #e1f0fa;
}
.mbr-plan-header.bg-warning .mbr-plan-subtitle,
.mbr-plan-header.bg-warning .mbr-plan-price-desc {
  color: #fcf3d0;
}
.mbr-plan-header.bg-danger .mbr-plan-subtitle,
.mbr-plan-header.bg-danger .mbr-plan-price-desc {
  color: #fdf3f2;
}
.mbr-small-footer a,
.mbr-gallery-filter li:hover {
  color: #0fe8b4;
}
/*colorM*/
/*nav-tabs*/
.header5 .nav-tabs .nav-link:after {
  background: #0fe8b4;
}
.header9 .nav-tabs .nav-link.active:after {
  background: #0fe8b4;
  color: #222;
}
/*end-nav-tabs*/
/*mbr-arrow next and toTop*/
.mbr-arrow a {
  border-radius: 50% !important;
}
.mbr-arrow-up a {
  border-radius: 50% !important;
}
.mbr-arrow a,
.mbr-arrow-up a {
  background: rgba(15, 232, 180, 0.6);
  color: #000;
}
.mbr-arrow a:hover,
.mbr-arrow-up a:hover {
  background: #20f1bf;
}
/*end mbr-arrow next and toTop*/
/*features8*/
.card .card-number {
  background: #0fe8b4;
}
/*features14*/
.features13 .card .card-number,
.features14 .card .card-number {
  background: transparent;
}
/*features15*/
.features15 .card-block:before {
  border-color: rgba(15, 232, 180, 0.5);
}
/*features16*/
.features16 .mbr-section-subtitle:before {
  background: #0fe8b4;
}
/*slider elements*/
.mbr-slider .carousel-control:hover {
  background: #0fe8b4;
}
.mbr-slider .carousel-indicators .active {
  background: #0fe8b4;
}
/*gallery*/
.mbr-gallery .modal .close {
  border-color: #0fe8b4;
}
.mbr-gallery .modal .close:hover {
  background: #0fe8b4;
}
.mbr-gallery-filter li.active {
  border-color: #0fe8b4;
  color: #000;
}
.mbr-gallery-filter li:hover {
  background: #38f2c5;
  color: #000;
}
.mbr-gallery .mbr-gallery-item:hover > div::before {
  background: rgba(15, 232, 180, 0.5);
}
.mbr-gallery .mbr-gallery-item:hover {
  background: #0fe8b4;
}
/*end gallery*/
/*blockquote*/
blockquote {
  border-left: 3px solid #0fe8b4;
}
/*content4*/
.content4 p {
  border-top-color: #0fe8b4;
  border-bottom-color: #0fe8b4;
}
/*image2, video2*/
.image1 .mbr-figure-caption,
.video1 .mbr-figure-caption,
.image2 .mbr-figure-caption,
.video2 .mbr-figure-caption {
  background-color: #0fe8b4;
}
/* progress bar */
.progressbar .progress-primary[value]::-webkit-progress-value {
  background-color: #0fe8b4;
}
.progressbar .progress-primary[value]::-moz-progress-bar {
  background-color: #0fe8b4;
}
.progressbar .progress-primary[value]::-ms-fill {
  background-color: #0fe8b4;
}
@media screen and (min-width: 0\0) {
  .progressbar .progress-primary .progress-bar {
    background-color: #0fe8b4;
  }
}
.progressbar .progressbar-number {
  background: #38f2c5;
}
/*countdown*/
.countdown .period {
  font-family: 'Encode Sans Semi Expanded', sans-serif;
  font-style: normal;
}
.countdown .number {
  font-family: 'Exo 2', sans-serif;
}
.countdown1 .number-wrap {
  border-color: #0fe8b4;
}
.countdown2 .bottom1 {
  background: #38f2c5;
}
.countdown2 .bottom2 {
  background: #0cb88f;
}
/*accordion*/
.accordion .panel-heading {
  background: #38f2c5;
  border-bottom: 1px solid #0cb88f;
}
.accordion .panel-heading:hover {
  background: #0cb88f;
}
.accordion .accordion-group .panel:last-child:after {
  background: #0cb88f;
}
/* news */
.news__card:hover {
  background: #0fe8b4;
}
/*footer*/
.footer1 .footer-list a:hover {
  color: #0fe8b4;
}
.shop1 .shop-item-price {
  font-family: 'Encode Sans Semi Expanded', sans-serif;
}
.shop1 .mbr-gallery-item:hover .item_overlay {
  background: #0fe8b4;
  opacity: 0.2;
}
.team1 .title1,
.person-info .title1,
.team1 .title2,
.person-info .title2,
.team1 .title3,
.person-info .title3,
.team1 .title4,
.person-info .title4 {
  font-family: 'Exo 2', sans-serif;
}
.team1 .subtitle1,
.person-info .subtitle1,
.team1 .subtitle2,
.person-info .subtitle2,
.team1 .subtitle3,
.person-info .subtitle3,
.team1 .subtitle4,
.person-info .subtitle4 {
  font-family: 'Encode Sans Semi Expanded', sans-serif;
}
.team1 .text1,
.person-info .text1,
.team1 .text2,
.person-info .text2,
.team1 .text3,
.person-info .text3,
.team1 .text4,
.person-info .text4 {
  font-family: 'Encode Sans Semi Expanded', sans-serif;
}
.person-info .subtitle1,
.person-info .subtitle2,
.person-info .subtitle3,
.person-info .subtitle4 {
  color: #0fe8b4;
}
.animated-bg1 .text {
  font-family: 'Encode Sans Semi Expanded', sans-serif;
}
.features9 .timeline-panel h4 {
  font-family: 'Exo 2', sans-serif;
}
.features9 .timeline-panel p {
  font-family: 'Encode Sans Semi Expanded', sans-serif;
}
.features9 .date-normal p {
  font-family: 'Encode Sans Semi Expanded', sans-serif;
}
.features9 .date-inverted p {
  font-family: 'Encode Sans Semi Expanded', sans-serif;
}
/*end colorM*/
#header11-h P {
  font-size: 19px;
}
#menu-1 .hide-buttons .nav-btn {
  display: none !important;
}
#menu-1 .navbar-caption {
  color: #ffffff;
}
#menu-1 .navbar-toggler {
  color: #ffffff;
}
#menu-1 .close-icon::before,
#menu-1 .close-icon::after {
  background-color: #ffffff;
}
#menu-1 .link,
#menu-1 .dropdown-item {
  color: #ffffff;
}
#menu-1 .link {
  font-size: 0.875rem;
}
#menu-1 .dropdown-item,
#menu-1 .nav-dropdown-sm .link {
  font-size: 0.948rem;
}
#menu-1 .link:hover,
#menu-1 .link:focus {
  color: #0fe8b4;
}
#menu-1 .dropdown-item:hover::before,
#menu-1 .dropdown-item:focus::before {
  background: #0fe8b4;
}
#menu-1 .dropdown-item:hover,
#menu-1 .dropdown-item:focus {
  color: #ffffff;
}
#menu-1 .link[aria-expanded="true"],
#menu-1 .dropdown-menu {
  background: #000913;
}
#menu-1 .nav-dropdown-sm .link:focus,
#menu-1 .nav-dropdown-sm .link:hover,
#menu-1 .nav-dropdown-sm .dropdown-item:focus,
#menu-1 .nav-dropdown-sm .dropdown-item:hover {
  background: #001a37!important;
}
#menu-1 .navbar,
#menu-1 .nav-dropdown-sm,
#menu-1 .nav-dropdown-sm .link[aria-expanded="true"],
#menu-1 .nav-dropdown-sm .dropdown-menu {
  background: #002146;
}
#menu-1 .bg-color.transparent .link {
  color: #ffffff;
  transition: none;
}
#menu-1 .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#menu-1 .bg-color.transparent.opened .link:hover,
#menu-1 .bg-color.transparent.opened .link:focus {
  color: #0fe8b4;
}
#menu-1 .link[aria-expanded="true"],
#menu-1 .dropdown-item[aria-expanded="true"] {
  color: #0fe8b4!important;
}
#features16-1y .mbr-section-title {
  font-weight: 700;
  letter-spacing: .5vw;
  text-transform: uppercase;
  color: #082b53;
}
#features16-1y .mbr-section-subtitle {
  text-transform: uppercase;
  letter-spacing: 2px;
  color: #fff;
}
#features7-k .lead {
  color: #9fa3a7;
}
#features7-k .mbr-section-subtitle {
  text-transform: uppercase;
}
#features7-k .mbr-section-title B {
  color: #002146;
  font-size: 36px;
}
#features7-k .mbr-section-text B {
  font-size: 24px;
  color: #666666;
}
#features7-k .mbr-section-text {
  font-size: 24px;
}
#features8-j .lead {
  color: #9fa3a7;
}
#features8-j .mbr-section-subtitle {
  text-transform: uppercase;
  text-align: right;
}
#features8-j .mbr-section-text {
  text-align: right;
  font-size: 24px;
}
#features8-j .mbr-section-title {
  text-align: right;
}
#features8-j .mbr-section-title B {
  font-size: 36px;
}
#features8-j .mbr-section-text B {
  color: #666666;
}
#call6-n .subtitle {
  font-size: 22px;
}
#call6-n .display-4 B {
  color: #002146;
}
#call6-n .call-card.active .mbr-section-subtitle {
  color: #ffffff;
}
#call6-n .call-card.active .title {
  text-align: center;
}
#call6-n .call-card.active .title B {
  color: #ffffff;
}
#call6-n .mbr-section-title {
  font-size: 40px;
  color: #002146;
}
#call6-n .section-title-website {
  color: #ffffff;
}
#call6-n .mbr-section-text {
  line-height: 44px;
}
#call3-y .display-1 {
  font-weight: 700;
  color: #fff;
}
#call3-y .lead {
  color: #fff;
  text-transform: uppercase;
  margin-bottom: 0;
}
#call3-y .mbr-section-subtitle {
  font-size: 20px;
}
#call3-y .mbr-section-title {
  font-size: 60px;
}
#call3-y .mbr-section-subtitle B {
  color: #00fecb;
}
#form2-11 .mbr-section-subtitle {
  text-transform: uppercase;
}
#form2-11 .form-control-label {
  color: undefined;
}
#form2-11 .mbr-section-title B {
  font-size: 48px;
  color: #002146;
}
#footer1-1d .mbr-section-subtitle,
#footer1-1d .mbr-section-text {
  color: #fff;
}
#footer1-1d .mbr-section-subtitle {
  margin-bottom: 20px;
  margin-top: 0;
}
#header1-26 .lead {
  color: #93a3a7;
  font-style: italic;
}
#header1-26 .mbr-section-title {
  text-align: center;
}
#header1-26 .mbr-section-text {
  text-align: center;
}
#header1-26 .mbr-section-text B {
  font-size: 18px;
}
#menu-o .hide-buttons .nav-btn {
  display: none !important;
}
#menu-o .navbar-caption {
  color: #ffffff;
}
#menu-o .navbar-toggler {
  color: #ffffff;
}
#menu-o .close-icon::before,
#menu-o .close-icon::after {
  background-color: #ffffff;
}
#menu-o .link,
#menu-o .dropdown-item {
  color: #ffffff;
}
#menu-o .link {
  font-size: 0.875rem;
}
#menu-o .dropdown-item,
#menu-o .nav-dropdown-sm .link {
  font-size: 0.948rem;
}
#menu-o .link:hover,
#menu-o .link:focus {
  color: #0fe8b4;
}
#menu-o .dropdown-item:hover::before,
#menu-o .dropdown-item:focus::before {
  background: #0fe8b4;
}
#menu-o .dropdown-item:hover,
#menu-o .dropdown-item:focus {
  color: #ffffff;
}
#menu-o .link[aria-expanded="true"],
#menu-o .dropdown-menu {
  background: #000913;
}
#menu-o .nav-dropdown-sm .link:focus,
#menu-o .nav-dropdown-sm .link:hover,
#menu-o .nav-dropdown-sm .dropdown-item:focus,
#menu-o .nav-dropdown-sm .dropdown-item:hover {
  background: #001a37!important;
}
#menu-o .navbar,
#menu-o .nav-dropdown-sm,
#menu-o .nav-dropdown-sm .link[aria-expanded="true"],
#menu-o .nav-dropdown-sm .dropdown-menu {
  background: #002146;
}
#menu-o .bg-color.transparent .link {
  color: #ffffff;
  transition: none;
}
#menu-o .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#menu-o .bg-color.transparent.opened .link:hover,
#menu-o .bg-color.transparent.opened .link:focus {
  color: #0fe8b4;
}
#menu-o .link[aria-expanded="true"],
#menu-o .dropdown-item[aria-expanded="true"] {
  color: #0fe8b4!important;
}
#header9-1e .elements-content {
  padding-bottom: 50px;
}
#header9-1e .mbr-section-subtitle {
  letter-spacing: 2px;
  margin-bottom: 10px;
  font-weight: 700;
}
#header9-1e .mbr-section-title,
#header9-1e .tab-pane {
  color: #000;
}
#header9-1e .mbr-section-title {
  color: #002146;
}
#features7-23 .lead {
  color: #9fa3a7;
}
#features7-23 .mbr-section-subtitle {
  text-transform: uppercase;
}
#features7-23 .mbr-section-title {
  color: #002146;
}
#features8-24 .lead {
  color: #9fa3a7;
}
#features8-24 .mbr-section-subtitle {
  text-transform: uppercase;
}
#features8-24 .mbr-section-text {
  text-align: left;
}
#features8-24 .mbr-section-title {
  text-align: left;
}
#features8-24 .mbr-section-title B {
  color: #002146;
}
#features7-27 .lead {
  color: #9fa3a7;
}
#features7-27 .mbr-section-subtitle {
  text-transform: uppercase;
}
#features7-27 .mbr-section-text B {
  color: #002146;
}
#features7-27 .mbr-section-title B {
  color: #002146;
}
#features8-28 .lead {
  color: #9fa3a7;
}
#features8-28 .mbr-section-subtitle {
  text-transform: uppercase;
}
#features8-28 .mbr-section-title B {
  color: #002146;
}
#features7-29 .lead {
  color: #9fa3a7;
}
#features7-29 .mbr-section-subtitle {
  text-transform: uppercase;
}
#features7-29 .mbr-section-title B {
  color: #002146;
}
#features8-2a .lead {
  color: #9fa3a7;
}
#features8-2a .mbr-section-subtitle {
  text-transform: uppercase;
}
#features8-2a .mbr-section-title B {
  color: #002146;
}
#call5-u .mbr-section-text {
  font-size: 24px;
  color: #ffffff;
}
#call5-u .mbr-section-title B {
  color: #ffffff;
}
#call5-u .mbr-section-text {
  color: #fff;
}
#form2-14 .mbr-section-subtitle {
  text-transform: uppercase;
}
#form2-14 .form-control-label {
  color: undefined;
}
#form2-14 .mbr-section-title B {
  font-size: 48px;
}
#footer1-p .mbr-section-subtitle,
#footer1-p .mbr-section-text {
  color: #fff;
}
#footer1-p .mbr-section-subtitle {
  margin-bottom: 20px;
  margin-top: 0;
}
#header4-17 .display-1 {
  font-weight: 700;
}
#header4-17 .lead {
  color: #fff;
  text-transform: uppercase;
  margin-bottom: 0;
}
#header4-17 .mbr-section-title {
  font-size: 72px;
}
#menu-19 .hide-buttons .nav-btn {
  display: none !important;
}
#menu-19 .navbar-caption {
  color: #ffffff;
}
#menu-19 .navbar-toggler {
  color: #ffffff;
}
#menu-19 .close-icon::before,
#menu-19 .close-icon::after {
  background-color: #ffffff;
}
#menu-19 .link,
#menu-19 .dropdown-item {
  color: #ffffff;
}
#menu-19 .link {
  font-size: 0.875rem;
}
#menu-19 .dropdown-item,
#menu-19 .nav-dropdown-sm .link {
  font-size: 0.948rem;
}
#menu-19 .link:hover,
#menu-19 .link:focus {
  color: #0fe8b4;
}
#menu-19 .dropdown-item:hover::before,
#menu-19 .dropdown-item:focus::before {
  background: #0fe8b4;
}
#menu-19 .dropdown-item:hover,
#menu-19 .dropdown-item:focus {
  color: #ffffff;
}
#menu-19 .link[aria-expanded="true"],
#menu-19 .dropdown-menu {
  background: #000913;
}
#menu-19 .nav-dropdown-sm .link:focus,
#menu-19 .nav-dropdown-sm .link:hover,
#menu-19 .nav-dropdown-sm .dropdown-item:focus,
#menu-19 .nav-dropdown-sm .dropdown-item:hover {
  background: #001a37!important;
}
#menu-19 .navbar,
#menu-19 .nav-dropdown-sm,
#menu-19 .nav-dropdown-sm .link[aria-expanded="true"],
#menu-19 .nav-dropdown-sm .dropdown-menu {
  background: #002146;
}
#menu-19 .bg-color.transparent .link {
  color: #ffffff;
  transition: none;
}
#menu-19 .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#menu-19 .bg-color.transparent.opened .link:hover,
#menu-19 .bg-color.transparent.opened .link:focus {
  color: #0fe8b4;
}
#menu-19 .link[aria-expanded="true"],
#menu-19 .dropdown-item[aria-expanded="true"] {
  color: #0fe8b4!important;
}
#header9-1f .elements-content {
  padding-bottom: 50px;
}
#header9-1f .mbr-section-subtitle {
  letter-spacing: 2px;
  margin-bottom: 10px;
  font-weight: 700;
}
#header9-1f .mbr-section-title,
#header9-1f .tab-pane {
  color: #000;
}
#accordion1-1g P {
  text-align: center;
}
#call5-1b .mbr-section-text {
  font-size: 24px;
  color: #ffffff;
}
#call5-1b .mbr-section-title B {
  color: #ffffff;
}
#call5-1b .mbr-section-title {
  color: #ffffff;
}
#form2-1c .mbr-section-subtitle {
  text-transform: uppercase;
}
#form2-1c .form-control-label {
  color: undefined;
}
#form2-1c .mbr-section-title B {
  font-size: 48px;
}
#footer1-1d .mbr-section-subtitle,
#footer1-1d .mbr-section-text {
  color: #fff;
}
#footer1-1d .mbr-section-subtitle {
  margin-bottom: 20px;
  margin-top: 0;
}
